body {
    font-family: sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    width: 500px;
    margin: 100px auto;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 50px;
  }
  
  .tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .form-container {
    display: none;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  