*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background: whitesmoke;
    color: black;
    background-color: whitesmoke;
    background-image: url(img/fondo1\ prueba.png);
    background-size: 80%;
    font-size: 16px;
    font-style:oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.showcase {
    color: white;
    margin-top: 95px;
    font-size: 35px;
    letter-spacing: 8px;
    text-shadow: -4px -4px 3px #000, 4px 4px 3px #000, -4px 4px 3px #000, 4px -4px 3px #000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 95%;
    margin: auto;
}

/*NAVIGATION*/

hr{
    margin: 5px 0px;
}

.nav-main{
    font-size:18px;
    display:flex;
    justify-content: space-between;
    background-image:url(img/89214-floppy-disk-minimalism-computer-hd-artist-minimalist.png);
    background-size: 100%;
    align-items: center;
    height: 95px;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width:95%;
}

.nav-brand{
    width: 150px
}

/*NAV LEFT*/

.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a{
    padding: 2px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid black;
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

/*BARRA NAVEGACION*/
/* CSS Document */

:root{
    --color: none;
    --fnd : black;
    --fndRsp: white;
    --colorRsp: black;
    text-decoration: line;
 }
 
.cajaNav{
   font-family: sans-serif;
   display:flex;
   justify-content: space-between;
   background:var(--fnd);
   color: var(--color);
}
.cajaNav .barNav{
   margin:0 10px 0 0;
}
.cajaNav .titNav{
   display:flex;
   justify-content:space-between;
   align-items:center;
   flex: 1;
   background:var(--fnd);
   color:var(--color);
   height:auto;
}
.cajaNav .titNav .toggle{
   display:none;
}
.cajaNav .titNav .logo{
   margin: 10px 10px; 
}
.cajaNav .barNav {
   display:flex;
   list-style:none;
   align-items: center;
   padding:0;
}
.cajaNav .barNav li{
   display:flex;
   align-items:center;
   padding: 0 20px ;
   height:100%;
}
.cajaNav .barNav li:hover{
   background: var(--color);
   color:var(--fnd);
   cursor: pointer;
}
.cajaNav .barNav li a{
   text-decoration: none;
   cursor: pointer;
   color: none;
}

.cajaNav .cerrado{
    width: 65%;
    padding: 10px;
    border-radius: 5px;
}

/*ENCABEZADO*/

.Encabezado{
    padding: 150px;
    text-align: center;
    background: url(https://media.istockphoto.com/photos/3d-rendering-of-high-building-for-background-concept-of-corporate-of-picture-id1363824993?b=1&k=20&m=1363824993&s=170667a&w=0&h=wSzma65QXIYbwwIbiXlc9PxZ1o3AubjgVvCpIhPJXiU=)
    no-repeat center;
    background-position-x: center;
    background-position-x: center;
    height: 500px;
}

.Encabezado h1{
    text-align: center;
    padding: 50px;
}

/*DESCRIPCIOM*/

.container{
    margin: 20px;
    padding: 10px 0 10px 0;
    height: 20%;
}

.container h1{
    text-align: center;
    margin-bottom: 20px;
    background-color: none;
    border-color: black;
}

.container p{
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.text-ubicacion{
    text-align: center;
    padding-top: 40px;
    background: none;
}

/*UBICACION*/

.mapa{
    padding-bottom: 125px;
    margin-left: 325px;
    padding-top: 50px;
    background: none;
}
