*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background: whitesmoke;
    color: black;
    background-color: whitesmoke;
    background-image: url(img/fondonegro.jpg);
    background-size: 100%;
    font-size: 1.5vw;
    font-style:oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.showcase {color: white;
        margin-top: 95px;
        font-size: 35px;
        letter-spacing: 8px;
        text-shadow: -4px -4px 3px #000, 4px 4px 3px #000, -4px 4px 3px #000, 4px -4px 3px #000;
        font-family:Verdana, Geneva, Tahoma, sans-serif;}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 95%;
    margin: auto;
}

/*NAVIGATION*/

hr{
    margin: 5px 0px;
}

.nav-main{
    font-size:18px;
    display:flex;
    justify-content: space-between;
    background-image:url(img/89214-floppy-disk-minimalism-computer-hd-artist-minimalist.png);
    background-size: 100%;
    align-items: center;
    height: 95px;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width:95%;
}

.nav-brand{
    width: 150px
}

/*NAV LEFT*/

.nav-main ul{
    margin-right: 10PX;
    display: flex;

}

.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a{
    padding: 2px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid black;
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

/*BARRA NAVEGACION*/
/* CSS Document */

:root{
    --color: none;
    --fnd : black;
    --fndRsp: white;
    --colorRsp: black;
    text-decoration: line;
 }
 
.cajaNav{
   font-family: sans-serif;
   display:flex;
   justify-content: space-between;
   background:var(--fnd);
   color: var(--color);
}
.cajaNav .barNav{
   margin:0 10px 0 0;
}
.cajaNav .titNav{
   display:flex;
   justify-content:space-between;
   align-items:center;
   flex: 1;
   background:var(--fnd);
   color:var(--color);
   height:auto;
}
.cajaNav .titNav .toggle{
   display:none;
}
.cajaNav .titNav .logo{
   margin: 10px 10px; 
}
.cajaNav .barNav {
   display:flex;
   list-style:none;
   align-items: center;
   padding:0;
}
.cajaNav .barNav li{
   display:flex;
   align-items:center;
   padding: 0 20px ;
   height:100%;
}
.cajaNav .barNav li:hover{
   background: var(--color);
   color:var(--fnd);
   cursor: pointer;
}
.cajaNav .barNav li a{
   text-decoration: none;
   cursor: pointer;
   color: white;
}

.cajaNav .cerrado{
    width: 65%;
    padding: 10px;
    border-radius: 5px;
}

/*AVATAR*/

.avatar{
    color: ;
    font-size: 1vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    margin: 10px 0px;
    border-radius: 6px;
}

.avatar-mikel img{
    width: 200px;
    height: 200px;
    padding: 50px;
    margin-top: 100px;
}

.avatar-mikel h1{
    margin: 10px;
    padding: 10px;
    margin-top: 150px;
    margin-bottom: 10px;
    color: black;
}

.avatar-mikel h2{
    margin: 10px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: black;
}

.avatar-elexpe img{
    width: 200px;
    height: 200px;
    padding: 50px;
    margin-top: 100px;
}

.avatar-elexpe h1{
    margin: 10px;
    padding: 10px;
    margin-top: 150px;
    color: black;
}

.avatar-elexpe h2{
    margin: 10px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: black;
}

.avatar-asier img{
    width: 200px;
    height: 200px;
    padding: 50px;
    margin-top: 100px;
}

.avatar-asier h1{
    margin: 10px;
    padding: 10px;
    margin-top: 150px;
    color: black;
}

.avatar-asier h2{
    margin: 10px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: black;
}

.avatar-eneko img{
    width: 200px;
    height: 200px;
    padding: 50px;
    margin-top: 100px;
}

.avatar-eneko h1{
    margin: 10px;
    padding: 10px;
    margin-top: 150px;
    color: black;
}

.avatar-eneko h2{
    margin: 10px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: black;
}

.avatar-isma img{
    width: 200px;
    height: 200px;
    padding: 50px;
    margin-top: 100px;
}

.avatar-isma h1{
    margin: 10px;
    padding: 10px;
    margin-top: 150px;
    color: black;
}

.avatar-isma h2{
    margin: 10px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: black;
}