
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background: whitesmoke;
    color: black;
    background-color: whitesmoke;
    background-image: url(img/fondo1\ prueba.png);
    background-size: 80%;
    font-size: 1.1vw;
    font-style:oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

    .showcase {color: white;
        margin-top: 8%;
        font-size: 270%;
        letter-spacing: 200%;
        width: 95%;
        margin: auto;
        text-shadow: -4px -4px 3px #000, 4px 4px 3px #000, -4px 4px 3px #000, 4px -4px 3px #000;
        font-family:Verdana, Geneva, Tahoma, sans-serif;}
        
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 95%;
    margin: auto;
}

/*NAVIGATION*/

hr{
    margin: 5px 0px;
}

.gcse-search {
 display: flex;
}

.nav-main{
    font-size: 1.2vw;
    display:flex;
    letter-spacing: 0.1vw;
    justify-content: space-between;
    background-image:url(img/89214-floppy-disk-minimalism-computer-hd-artist-minimalist.png);
    background-size: 100%;
    align-items: center;
    padding: 1vh 2vh;
    position: fixed;
        top: 0vw;
        width:95vw;
        height: 8vw;
        ...
}

.nav-brand{
    width: 12%
}

/*NAV LEFT*/

.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 2%;
}

.nav-main ul li a{
    padding: 2%;
}

.nav-main ul li a:hover{
    border-bottom: 2% solid black;
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 2%;
}

/*BARRA NAVEGACION*/
/* CSS Document */

:root{
    --color: none;
    --fnd : black;
    --fndRsp: white;
    --colorRsp: black;
    text-decoration: line;
 }
 
.cajaNav{
   font-family: sans-serif;
   display:flex;
   justify-content: space-between;
   background:var(--fnd);
   color: var(--color);
}
.cajaNav .barNav{
   margin:0% 1% 0% 0%;
}
.cajaNav .titNav{
   display:flex;
   justify-content:space-between;
   align-items:center;
   flex: 1;
   background:var(--fnd);
   color:var(--color);
   height:auto;
}
.cajaNav .titNav .toggle{
   display:none;
}
.cajaNav .titNav .logo{
   margin: 1% 1%; 
}
.cajaNav .barNav {
   display:flex;
   list-style:none;
   align-items: center;
   padding:0;
}
.cajaNav .barNav li{
   display:flex;
   align-items:center;
   padding: 0% 2% ;
   height:100%;
}
.cajaNav .barNav li:hover{
   background: var(--color);
   color:var(--fnd);
   cursor: pointer;
}
.cajaNav .barNav li a{
   text-decoration: none;
   cursor: pointer;
   color: none;
}

.cajaNav .cerrado{
    width: 65%;
    padding: 1%;
    border-radius: 5px;
}

/*SHOWCASE*/

.showcase{
    box-shadow: 3px 3px 6px 6px
    rgba(0,0,0,0.50);
    width: center;
    height: 80%;
    background: url(/img/showcase2.jpg) no-repeat center center/cover;
    padding-top: 10%;
    margin-top: 9%;
    padding-bottom: 10%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    
}

.btn{
    cursor: pointer;
    display: inline;
    border: 0px;
    font-weight: bold;
    padding: 1% 2%;
    background: black;
    color: white;
    font-size: 1.2vw;
    border: 1px solid white;
    margin: 2% 0%;
}

.btn:hover{
    opacity: .8;
}

.showcase h2,
.showcase p{
    margin-bottom: 3%;
}

/*NEW CARDS*/

.news-cards{
    text-align: center;
    width: 95%;
    background-image: url(/img/fondo\ menú.png);
    background-size:200%;
    padding: 2%;  
    box-shadow: 2px 2px 4px 4px
    rgba(0,0,0,0.50);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
    margin: 2% 2%;
    border-radius: 2%;
    align-items: center;
}

.news-cards img{
    display: flex;
  align-items: center;
  justify-content: center;
   margin:auto;
    width: 90%;
    height: 90%;
}

.news-cards h3{
    font-size: 1vw;
    margin: 3% 0%;
}

.news-cards a{
    padding: 4% 0%;
    color: black;
    text-transform: uppercase;
    display: inline-block;
    font-size: bold;
}

.news-cards a:hover{
    text-decoration: overline;
}

/*CLAS BANNER ONE*/

.cards-banner-one{
    box-shadow: 3px 3px 6px 6px
    rgba(0,0,0,0.50);
    width: 95%;
    height: 350%;
    background: url('./img/image-four.jpg');
    background-size: 100%;
    padding-bottom: 10%;
    margin: auto;
    display: flex;
    align-items: center;


}

.cards-banner-one .content{
    width: 30;
    padding: 10% 0 0 3%;
    color: white;
}

.cards-banner-one p{
    font-size: 1.8vw;
    margin: 3% 0%;
    padding-top: 4%;
    height: 40%;
}

/*CARDS BANNER TWO*/

.cards-banner-two{
    box-shadow: 3px 3px 6px 6px
    rgba(0,0,0,0.50);
    width: 100%;
    height: 350%;
    background: url('./img/image-three.jpg') no-repeat center center/cover;
}

.cards-banner-two .content{
    width: 50;
    padding: 10% 0 0 3%;
    color: white;
}

.cards-banner-two p{
    font-size: 1vw;
    margin: 3% 0%;
    padding-top: 40%;
    height: 80%;
    color: aliceblue;
}

.cards-banner-two h2{
    font-size: 1.2vw;
    margin: 3% 0%;
    color: aliceblue;
}

/*FOOTER LINKS*/

.footer-links{
    background: gray;
    color: darkgrey;
    font-size: 1.1vw;
    padding: 2% 0%;
    background-position: center;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul{
    margin: 0 auto;
    margin-top: 300%;
}

.footer-container ul li{
    line-height: 2.8;
}

/*SOCIAL*/

.social{
    margin: 30%;
    margin-left: 180%;
 }
 
.social p{
    text-align: center;
    font-size: 1.6vw;
    margin-bottom: 1%;
 }
 
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
 }
 
.links a i{
    font-size: 2rem;
    margin: 30%;
    margin-left: 3%;
    align-items: center;
    display: flex;
    justify-items: center;
 }

 /*COPYRIGHT*/

 .copyright h3{
    font-size: 1.2vw;
    text-align:left;
    margin-left: 0%;
    justify-content: space-between
 }

 .copyright hr{
    align-items:center;
    margin-right: 45%;
    
 }

 .social {
    align-items: flex-start;
    justify-content: space-between
 }
 .links {
    size: 10%;
    align-items:center;
    justify-content: space-between;
 }
 
