*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background: whitesmoke;
    color: black;
    background-color: whitesmoke;
    background-image:none;
    background-size: 80%;
    font-size: 16px;
    font-style:oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.showcase {color: white;
        margin-top: 95px;
        font-size: 35px;
        letter-spacing: 8px;
        text-shadow: -4px -4px 3px #000, 4px 4px 3px #000, -4px 4px 3px #000, 4px -4px 3px #000;
        font-family:Verdana, Geneva, Tahoma, sans-serif;}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 95%;
    margin: auto;
}